.flexbox-container {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: gray;
}

.flexbox-item1 {
    min-height: 100px;
    order:1;
}

.flexbox-item2 {
    min-height: 200px;
    order:2;
}

.flexbox-item3 {
    min-height: 300px;
    order:3
}